body {
    font-family:Tahoma,sans-serif;
    background-color: #FFD;
    font-size: 9pt;
}
h1 {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 5px;
}
h2 {
    font-size: 14pt;
    font-weight: bold;
}
div.line {
    min-width: 610px;
}
div.line_odd {
    background-color: #FE9;
}
.line_input,
.line_header {
    border-bottom: 1px solid black;
}
.line_input span,
.line_header span {
    padding-top: 3px !important;
    padding-bottom: 2px !important;
}
.line_input input[type="image"]
{
    padding-left: 20px;
    vertical-align: middle;
}
.line_header {
    background-color: #FE9;
}
input[type="text"]
{
    font-family:Tahoma,sans-serif;
    font-size: 9pt;
}
input[type="image"]
{
    vertical-align: bottom;
    height: 16px;
}
.todo {
    display:inline-block;
    width: 65%;
    text-align: left;
    padding-left: 4px !important;
}
.todo_completed {
    text-decoration: line-through;
}
.due {
    display:inline-block;
    width: 15%;
    min-width: 125px;
    text-align: left;
}
.priority
{
    display:inline-block;
    width: 5%;
    min-width: 30px;
    text-align: center;
}
#status,
#working {
    padding: 3px;
    margin: 2px;
    background-color:#FE9;
    float: right;
}
#log {
    font-size: 6pt;
    float: right;
    background-color:#FE9;
    margin-top: -12px;
    margin-left: 2px;
    margin-right: 2px;
}
span.modify_desc {
    display: inline-block;
    width: 60px;
}
