/**************/
/* Common CSS */

body {
    font-family:Tahoma,sans-serif;
    background-color: #F8F8F8;
    font-size: 9pt;
}
h1 {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 5px;
}
h2 {
    font-size: 14pt;
    font-weight: bold;
}
.linkblock {
    float:right;
} 

/*************/
/* ToDo List */

#progress,
#todoTable,
div.line {
    padding: 1px 0px;
}
div.line_odd {
    background-color: #EEEEEE;
}
#todo_content form,
#todoTable{
    width: 700px;
}
#mainContent {
    border: 1px solid black;
    border-radius: 4px;
    width: 700px;
    float: left;
}
.line_input span,
.line_header span {
    padding-top: 3px !important;
    padding-bottom: 2px !important;
}
.line_input input[type="image"]
{
    padding-left: 20px;
    vertical-align: middle;
}
.line_header {
    background-color: #EEEEEE;
}
input[type="text"]
{
    font-family:Tahoma,sans-serif;
    font-size: 9pt;
}
input[type="image"]
{
    vertical-align: bottom;
    height: 16px;
}
.todo {
    display:inline-block;
    text-align: left;
    padding-left: 4px !important;
}
.todo,
#enter_todo {
    width: 50%;
}
.todo_completed {
    color: #777;
}
.todo_deleted {
    color: #777;
}
.todo_deleted span {
    text-decoration: line-through;
}
ul.todo_item_tags {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    border-width: 0 !important;
    font-size: 1em;
    vertical-align: bottom;
}
ul.todo_item_tags li {
    padding: 1px 2px !important;
    margin: 1px 2px !important;
}
input[disabled="disabled"] {
    display: none;
}
.todo_lineNr {
    display: inline-block;
    width: 20px;
    text-align:right;
}
.todo_tags {
    font-style: italic;
}
.due, .start {
    display:inline-block;
    width: 100px;
    text-align: left;
}
.start {
    margin-left: 32px;
}
#working {
    padding: 3px;
    margin: 2px;
    background-color:#EEEEEE;
    float: right;
}
#smallLog {
    font-size: 6pt;
    float: right;
    background-color:#EEEEEE;
    margin-top: -12px;
    margin-left: 2px;
    margin-right: 2px;
}
#logLink {
    float: right;
    display: none;
}
span.modify_desc {
    display: inline-block;
    width: 80px;
    vertical-align: top;
}
ul#modify_tag_edit {
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul.ui-autocomplete {
    z-index: 200;
}
#progress_todo {
    background-color: #D66;
    width: 50%;
    display: inline-block;
}
#progress_done {
    background-color: #6D6;
    width: 50%;
    display: inline-block;
}
.effort {
    display: inline-block;
    width: 20px;
}
#enter_due, #enter_start {
    width: 70px;
}
#merge_tag_edit {
    width: 180px;
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
}
#tag_todo_container {
    margin-top: 10px;
}
#tag_todo_caption {
    font-weight: bold;
}
#tag_merge {
    vertical-align: top;
}
#sidebar {
    float: right;
    width: 200px;
}
#taglist {
    font-size: 8pt;
}
#lists {
    border: 1px solid black;
    border-radius: 4px;
}
#lists ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
}
ul.tagit {
    border-color: black !important;
}
/*******************/
/* Statistics page */

#emptytrashlink,
#statistiklink,
#mobilelink,
#filter {
    float: right;
    margin-right: 10px;
}
#filter ul {
    margin: 0;
    padding: 0;
}
.stat_row_bar {
    vertical-align:bottom;
}
.stat_row_header {
    width: 100px;
}
.stat_row_characteristics {
    padding-left: 10px;
}
.statbar {
    background-color: blue;
    color: white;
}
.statvalue {
    word-wrap: break-word;
}
.statbar, .statvalue, .emptystatbar {
    text-align: center;
}
.emptystatbar {
    color: black;
}
